{{!-- Find a job page, loads all jobs that have been posted --}}
<section>
    <div class="row ">
        <div class="col-2 m-4 p-3">
          <img src="traderUser.jpg" alt="Photo of trader">
        </div>
        <h2 class="col-2"> My Profile </h2>
    </div>

    <div>

    </div>
</section>