{{!-- Landing page - Find a job / Post a job --}}

<div class="hero-image">
    <div class="hero-text">
        <h1>TRADEWISE</h1>
        <div class="flex-container">

            <div class="flex-child one">
                Looking for a professional?
                <button class="btn btn-primary mt-3 mb-4" href="/jobs/new">Post a job</button>
            </div>

            <div class="flex-child two">
                Are you a tradesperson?
                <button class="btn btn-primary mt-3 mb-4" href="/dashboard">Find a job</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center header">
    <h2>How it works</h2>
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col-md">
                <p class="number">1</p>
                <div class="title">
                    <h4>Create a free account</h4>
                    <p>Sign up as a trader or consumer</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center"></div>
        <div class="col-md">
            <p class="number">2</p>
            <div class="title">
                <h4>Find a job or post a job</h4>
                <p>Look for or offer help</p>
            </div>
        </div>
        <div class="row align-items-end"></div>
        <div class="col-md">
            <p class="number">3</p>
            <div class="title">
                <h4>Get the help you need </h4>
                <p>Leave a review once you've finished!</p>
            </div>
        </div>
    </div>
</div>