{{!-- Landing page - Find a job / Post a job --}}

<div class="hero-image">
    <div class="hero-text">
        <h1>TRADEWISE</h1>
        <div class="flex-container">

            <div class="flex-child one">
                Looking for a professional?
                <button type="submit" class="btn btn-primary mt-3 mb-4">Post a job</button>
            </div>

            <div class="flex-child two">
                Are you a tradesperson?
                <button type="submit" class="btn btn-primary mt-3 mb-4">Find a job</button>
            </div>
        </div>
    </div>
</div>