{{!-- Landing page - Find a job / Post a job --}}

<div class="hero-image">
  <div class="hero-text">
    <h1>TRADEWISE</h1>
    <div class="flex-container">

      <div class="flex-child one">
        Looking for a professional?
        <button class="btn btn-primary mt-3 mb-4" href="/jobs/new">Post a job</button>
      </div>

      <div class="flex-child two">
        Are you a tradesperson?
        <button class="btn btn-primary mt-3 mb-4" href="/dashboard">Find a job</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid justify-content-center header">
  <h2>How it works</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 numone">
        <p class="number">1</p>
        <div class="title">
          <h4>Create a free account</h4>
          <p>Sign up as a trader or consumer</p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 numtwo ">
        <p class="number">2</p>
        <div class="title">
          <h4>Find a job or post a job</h4>
          <p>Look for or offer help</p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 numthree">
        <p class="number">3</p>
        <div class="title">
          <h4>Get the help you need </h4>
          <p>Leave a review once you've finished!</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- carousel --}}
<div id="tradeCarousel" class="carousel slide" data-ride="carousel" style="max-height: 500px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-box responsive-img" src="/images/carousel_image1.jpg" class="d-block w-100"
        alt="Electrical services">
    </div>
    <div class="carousel-item">
      <div class="testimonial">
        <p>"I needed a plumber, after a toilet catastrophe. I found someone on Tradewise and they sorted the
          blockage, pronto!"</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="responsive-img" src="/images/carousel_image2.jpg" class="d-block w-100" alt="a tradesman">
    </div>
    <div class="carousel-item ">
      <div class="testimonial"></div>
      <p>"Tradewise saved our marriage..."</p>
    </div>
  </div>
  <div class="carousel-item">
    <img class="responsive-img" src="/images/carousel_image3.jpg" class="d-block w-100" alt="a group of  tradesmen">
  </div>
  <div class="carousel-item ">
    <div class="testimonial">
      <p>"Tradewise is like 'Tinder' only with handier men..."</p>
    </div>
  </div>
  <div class="carousel-item">
    <img class="responsive-img" src="/images/carousel_image4.jpg" class="d-block w-100"
      alt="a sign saying: 'Tradesman wanted'.">
  </div>
  <div class="carousel-item ">
    <div class="testimonial">
      <p>"We invited a Tradewise tradesman into our home and we've never looked back!"</p>
    </div>
  </div>
  <div class="responsive-img" class="carousel-item">
    <img src="/images/carousel_image5
        .jpg" class="d-block w-100" alt="a  tradesman">
  </div>
  <div class="carousel-item">
    <div class="testimonial">
      <p>"If you're useless around the house and you need someone who isn't, Tradewise is the place to find them."</p>
    </div>
  </div>
</div>
</div>

{{!-- <div class="carousel carousel-slider center" style="max-height: 550px;">
  <div class="carousel-fixed-item center">
  </div>
  <div class="carousel-item"><img class="responsive-img" alt="tradesman" src="Assets/Images/carousel_image1.jpg">
  </div>
  <div class="carousel-item"><img class="responsive-img " alt="tradesman" src="Assets/Images/carousel_image2.jpg">
  </div>
  <div class="carousel-item"><img class="responsive-img " alt="tradesman" src="Assets/Images/carousel_image3.jpg">
  </div>
</div>
</div>
</div> --}}