<section>
  <div class="row justify-content-center">
    <h2> Find A Tradesperson For Your Job </h2>
  </div>

  <div class="container pmw centre-pane">
    <div>
      <h2>Title</h2>
      <p class="editable border rounded p5" contenteditable="true" id="newJobTitle" data-placeholder="Enter a job title"></p>
    </div>
    <div class="mt-5">
      <h3>Description</h3>
      <p class="editable border rounded p5" contenteditable="true" id="newJobDescription" data-placeholder="What job do you need doing?... Write a description here."></p>
    </div>
    <div class="row mt-5">
      <button class="button btn-primary align-center btn" id="postJob">Submit</button>
    </div>

  </div>

</section>

<script src="/js/postjob.js"></script>
