<section>
  <div class="row justify-content-center">
    <h2> Find A Tradesperson For Your Job </h2>
  </div>

  <div class="container pmw ">
    <div class=mt-5>
      <h2>Title</h2>
      <p class="border rounded p5" contenteditable="true">Enter a title for your job</p>
    </div>
    <div mt-3>
      <h3>Description</h3>
      <p class="border rounded p5" contenteditable="true">Enter a description of your job</p>
    </div>
    <div class="row mt-5">
      <button class="button button5 align-center btn btn-info btncol">Submit</button>
    </div>

  </div>

</section>