{{!-- Actual job page (when you click on a job, you see the job info/comments) --}}
<section class="container-fluid">
        <div class="justify-content-center">
                <h3 class="col-12 m-3 p-3">Posted by: {{job.user.username}}</h3>
            
                <h3 class="col-12 m-3 p-3">{{job.title}}</h3>
                <p>{{job.description}}</p>
        </div>
       {{> comments job.comments}}
</section>

<script src="/js/comment.js"></script>
